.DS_Store
assets/fonts/DIN-Next-LT-Pro-Regular.ttf
assets/fonts/Wotfard-Regular.eot
assets/fonts/Wotfard-Regular.ttf
assets/fonts/Wotfard-Regular.woff2
footer.html
index.html
js/script.js
js/swiper.js
media/about/betray.png
media/about/escape.png
media/about/hadestown.png
media/about/minnie-portfolio.jpg
media/about/moulin.jpeg
media/about/portfolio.jpg
media/about/rina.png
media/about/scythe.png
media/about/taeyeon.png
media/index/cinefest.png
media/index/newspace.png
media/index/procreate.png
media/index/recyclenook.png
media/index/toast_transparent.gif
media/index/urbanco.png
media/newspace/before-after-article.png
media/newspace/before-after-following.png
media/newspace/before-after-home.png
media/newspace/before-after-mood.png
media/newspace/competitive-analysis-dark.png
media/newspace/competitive-analysis.png
media/newspace/figjam.png
media/newspace/gifs/hifi-article.gif
media/newspace/gifs/hifi-disconnect.gif
media/newspace/gifs/hifi-explore.gif
media/newspace/gifs/hifi-following.gif
media/newspace/gifs/hifi-following2.gif
media/newspace/gifs/hifi-home.gif
media/newspace/gifs/hifi-mindfulness.gif
media/newspace/gifs/hifi-mood.gif
media/newspace/gifs/hifi-passionate.gif
media/newspace/gifs/hifi-signup.gif
media/newspace/hifi-home.png
media/newspace/hifi-mood.png
media/newspace/hifi-passionate.png
media/newspace/icon-light.svg
media/newspace/icon-sunflower.svg
media/newspace/icon-uplift.svg
media/newspace/moodboard-home.png
media/newspace/moodboard-mood.png
media/newspace/research-patterns.svg
media/newspace/research-thoughts.svg
media/newspace/research-topics.jpg
media/newspace/storyboard-mood.png
media/newspace/storyboard-rating.png
media/newspace/storyboard-resources.png
media/newspace/style-guide-1.svg
media/newspace/style-guide-2.svg
media/newspace/ux-flow.png
media/newspace/wireframes-1.png
media/newspace/wireframes-2.png
media/play.svg
media/procreate/before-after-comment.svg
media/procreate/before-after-toggle.svg
media/procreate/competitive-analysis.png
media/procreate/final-comments-space.png
media/procreate/final-comments.gif
media/procreate/final-comments.png
media/procreate/final-markups-truck.png
media/procreate/final-markups.gif
media/procreate/final-markups.png
media/procreate/forum-1.png
media/procreate/forum-2.png
media/procreate/hifi-comments.gif
media/procreate/hifi-dropdown.gif
media/procreate/hifi-markups.gif
media/procreate/lofi.png
media/procreate/markups.png
media/procreate/ux-flow.svg
media/procreate/wireframe-1.svg
media/procreate/wireframe-2.svg
media/procreate/wireframe-3.svg
media/procreate/wireframe-4.svg
media/procreate/wireframe-5.svg
media/procreate/wireframe-6.svg
media/recyclenook/acnh.png
media/recyclenook/adobe-xd.jpg
media/recyclenook/bins-target.jpg
media/recyclenook/bins-uniqlo.png
media/recyclenook/hifi-home.gif
media/recyclenook/hifi-home.png
media/recyclenook/hifi-kiosk-1.gif
media/recyclenook/hifi-kiosk-2.gif
media/recyclenook/hifi-kiosk.gif
media/recyclenook/hifi-learn.gif
media/recyclenook/hifi-map.gif
media/recyclenook/hifi-profile.png
media/recyclenook/hifi-social.gif
media/recyclenook/hifi-social.png
media/recyclenook/moodboard.jpg
media/recyclenook/sketch-1.png
media/recyclenook/sketch-2.png
media/recyclenook/sketch-3.png
media/recyclenook/sketch-4.png
media/recyclenook/style-guide.jpg
media/recyclenook/winners.jpg
media/toast_logo.png
media/toast_oven.svg
media/urbanco/cuate-group.svg
media/urbanco/hifi-home.jpg
media/urbanco/hifi-login.jpg
media/urbanco/hifi-report.jpg
media/urbanco/icon-car.svg
media/urbanco/icon-night.svg
media/urbanco/icon-women.svg
media/wistly/hifi-login.jpg
media/wistly/hifi-map.jpg
media/wistly/hifi-sidebar.jpg
newspace.html
procreate.html
README.md
recyclenook.html
stylesheet.css
